html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  width:1204px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

input {
  box-shadow: none; }

.wrapper {
  width: 1204px;
  margin: 0 auto; }

section {
  padding-top: 144px; }
  section .title-container {
    text-align: center; }
  section h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #454545;
    position: relative; }
    section h1.strikethrough:after {
      content: "";
      width: 120%;
      display: block;
      height: 1px;
      position: absolute;
      background-color: #000;
      left: -50%;
      right: -50%;
      top: 50%;
      margin: auto; }
  section h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 23px;
    color: #000;
    font-weight: normal; }
  section h3 {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  section .date {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #565656; }
  section .sect-descr {
    max-width: 873px;
    margin: 0 auto;
    margin-bottom: 155px;
    color: #acacac;
    font-family: "Open Sans", sans-serif;
    text-align: center; }

.button {
  display: inline-block;
  width: 196px;
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  text-align: center;
  line-height: 57px;
  background: gray url(../img/butt-bg.jpg) 0 0 no-repeat; }
  .button:hover {
    color: #fff;
    text-decoration: none;
    background-image: url(../img/butt-bg-active.jpg); }
  .button:active {
    color: #fff;
    text-decoration: none;
    background-image: url(../img/butt-bg-active.jpg); }
  .button:visited {
    text-decoration: none;
    background-image: url(../img/butt-bg.jpg); }

/*-------------------header-------------- */
.header {
  height: 1062px;
  background: #fff url(../img/bg-header.jpg) center top no-repeat;
  background-size: cover; }
  .header nav {
    width: 100%;
    padding-top: 20px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.1); }

.header__main-menu {
  margin: 0;
  padding: 0;
  line-height: 0; }
  .header__main-menu:after {
    content: "";
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block; }

.header__item {
  display: inline-block;
  padding-bottom: 3px; }

.header__link {
  padding-bottom: 6px;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  color: #606060;
  font-size: 17px;
  text-transform: uppercase;
  line-height: normal;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }
  .header__link:hover {
    border-bottom: 2px solid #000;
    text-decoration: none;
    color: #000; }

/*-------------------end of header-------------- */
/*-------------------discography-------------- */
.discography {
  padding-top: 30px;
  padding-bottom: 454px;
  background: url(../img/bg-disco.jpg) center bottom no-repeat;
  background-size: 100% auto; }
  .discography h1 {
    color: #9c6e50; }

.discography__block {
  margin-bottom: 100px; }
  .discography__block:before, .discography__block:after {
    content: "";
    display: table; }
  .discography__block:after {
    clear: both; }
  .discography__block:last-child {
    margin-bottom: 0; }

.discography__left-side, .tours__left-side {
  float: left;
  width: 46.7%;
  margin-top: 15px; }

.discography__right-side {
  float: right;
  width: 46.7%; }

.discography__line, .tours__line, .tiles__line, .up-events__line {
  height: 1px;
  background-color: #000; }

.discography__chapter, .latter__chapter, .tiles__chapter, .up-events__chapter {
  margin: 0;
  color: #acacac; }

/*-------------------end of discography-------------- */
/*-------------------tours-------------- */
.tours {
  padding-bottom: 247px;
  background: #fff url(../img/bg-tours.jpg) center bottom no-repeat;
  background-size: 140% auto; }
  .tours h1 {
    color: #63a3ad;
    background: -webkit-linear-gradient(top, #62a2ad, #8dbab3);
    background: linear-gradient(top, #62a2ad, #8dbab3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; }
  .tours h3 {
    margin-bottom: 73px; }
  .tours .sect-descr {
    margin-bottom: 474px; }

.tours__line {
  width: 70%; }

.tours__left-side {
  margin-top: 0;
  float: none; }

.button--transparent {
  box-sizing: border-box;
  padding-right: 20px;
  background-image: none;
  background-color: transparent;
  border: 1px solid #aeb2b2;
  text-transform: none;
  position: relative; }
  .button--transparent:after {
    content: "";
    width: 5px;
    height: 10px;
    position: absolute;
    right: 52px;
    top: 50%;
    margin-top: -5px;
    background: url(../img/ico-chevron.png) 0 0 no-repeat; }
  .button--transparent:hover, .button--transparent:active {
    background-color: #565656;
    color: #fff;
    background-image: none; }

/*-------------------end of tours-------------- */
/*-------------------latter-------------- */
.latter {
  padding-bottom: 157px; }
  .latter h2, .latter h3 {
    margin-bottom: 25px; }
  .latter .button--transparent {
    vertical-align: bottom;
    margin-right: 30px; }
  .latter .button--transparent:after {
    right: 35px; }

.wrapper-latter:before, .wrapper-latter:after {
  content: "";
  display: table; }
.wrapper-latter:after {
  clear: both; }

.latter__container-title {
  width: 50%;
  height: 423px;
  float: left;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 30px 35px 38px 35px;
  background-color: #f5f6f6;
  position: relative; }
  .latter__container-title:nth-last-child(2) {
    margin-bottom: 0; }

.latter__container-title:nth-child(4n+1) {
  float: right; }

.latter__chapter {
  height: 4.8em;
  overflow-y: hidden; }

.latter__container-track {
  width: 50%;
  height: 423px;
  float: left;
  margin-bottom: 50px;
  position: relative; }
  .latter__container-track:last-child {
    margin-bottom: 0; }
  .latter__container-track .video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute; }
  .latter__container-track iframe {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.latter__title-bottom {
  position: absolute;
  bottom: 38px; }

.latter__social-block {
  display: inline-block; }
  .latter__social-block .latter__social-item {
    margin-right: 20px;
    display: inline-block;
    color: #abacac;
    vertical-align: bottom; }
    .latter__social-block .latter__social-item .latter__icon-link, .latter__social-block .latter__social-item .latter__social-counter {
      display: inline-block;
      vertical-align: middle; }
    .latter__social-block .latter__social-item .latter__social-counter {
      font-family: "Myriad Pro";
      font-size: 14px; }

.latter__icon-link {
  color: #abacac; }
  .latter__icon-link:hover {
    color: #abacac; }

/*-------------------end of latter-------------- */
/*-------------------slider-------------- */
.slider {
  padding-bottom: 85px;
  background: #000 url(../img/bg-slider.jpg) center top no-repeat;
  background-size: cover;
  position: relative; }
  .slider .owl-item {
    text-align: center; }
  .slider .owl-dots {
    margin-top: 80px;
    text-align: center; }
  .slider .owl-dot {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 18px 0 18px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%; }
    .slider .owl-dot.active {
      background-color: #fff; }

.slider__handler-prev, .slider__handler-next {
  width: 85px;
  height: 171px;
  position: absolute;
  top: 50%;
  margin-top: -85px;
  background: url(../img/spritesheet.png) 0 0 no-repeat;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100; }

.slider__handler-prev {
  left: 0;
  background-position: -5px -5px; }

.slider__handler-next {
  right: 0;
  background-position: -100px -5px; }

.slider__car-item {
  max-width: 890px;
  text-align: center;
  display: inline-block; }

.slider__icon {
  color: #fff;
  font-size: 50px; }

.slider__icon-box {
  display: inline-block;
  position: relative;
  margin-bottom: 45px;
  line-height: 30px; }
  .slider__icon-box:before, .slider__icon-box:after {
    content: "";
    width: 28px;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
  .slider__icon-box:before {
    left: -45px;
    background-position: -195px -5px; }
  .slider__icon-box:after {
    left: 60px;
    background-position: -195px -23px; }

.slider__header {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Dosis", sans-serif;
  font-size: 18.5px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: 2px; }

.slider__body {
  max-width: 511px;
  color: #798285;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 55px; }

.slider__ps {
  color: #565e61; }

/*-------------------end of slider-------------- */
/*-------------------tiles-------------- */
.tiles h3 {
  text-align: left;
  color: #fff; }
.tiles h2 {
  line-height: 1.2;
  text-align: left;
  margin-bottom: 36px; }

.wrapper--tiles {
  text-align: justify; }
  .wrapper--tiles:after {
    content: "";
    width: 100%;
    height: 0;
    overflow: hidden;
    display: inline-block;
    visibility: hidden; }

.tiles__item {
  display: inline-block;
  width: 31.7%;
  height: 422px;
  padding: 31px 39px 31px 39px;
  margin-bottom: 23px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  background: #f5f6f6 url(../img/bg-tiles-item-01.jpg) 0 0 no-repeat; }
  .tiles__item:nth-child(1) {
    background-position: -100px 0; }
  .tiles__item:nth-child(2) {
    background-position: -700px -300px;
    background-image: url(../img/bg-tiles-item-02.jpg); }
  .tiles__item:nth-child(3) {
    background-position: -100px 0;
    background-image: url(../img/bg-tiles-item-03.jpg); }
  .tiles__item:nth-child(4) {
    background-position: -400px -150px;
    background-image: url(../img/bg-tiles-item-04.jpg); }
  .tiles__item:nth-child(5) {
    background-image: url(../img/bg-tiles-item-05.jpg); }
  .tiles__item:nth-child(6) {
    background-position: -20px -200px;
    background-image: url(../img/bg-tiles-item-06.jpg); }

.tiles__line {
  width: 100%; }

.tiles__chapter {
  max-height: 11.2em;
  overflow-y: hidden;
  text-align: left; }

.tiles__number {
  position: absolute;
  bottom: -46px;
  right: 10px;
  font-size: 82px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.17); }

/*-------------------ebd of tiles-------------- */
/*-------------------up-events-------------- */
.up-events {
  padding: 309px 0 189px 0;
  background: #fff url(../img/bg-up-events.jpg) center bottom no-repeat;
  background-size: cover; }

.wrapper--up-events {
  padding-left: 600px; }
  .wrapper--up-events .title-container {
    text-align: left; }
  .wrapper--up-events h1 {
    color: #42717e; }
    .wrapper--up-events h1.strikethrough:after {
      left: -5px;
      right: 0; }
  .wrapper--up-events h2 {
    margin-bottom: 0; }

.up-events__line {
  width: 20%;
  margin-bottom: 10px; }

.up-events__vert-line {
  width: 1px;
  margin-left: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000; }

.up-events__vert-line--short {
  height: 52px; }

.up-events__vert-line--long {
  height: 165px; }

/*-------------------end of up-events-------------- */
/*-------------------history-------------- */
.history-sect {
  padding-bottom: 615px;
  background: #fff url(../img/bg-history.jpg) center bottom no-repeat; }

.car-two__item {
  width: 243px;
  position: relative; }
  .car-two__item span {
    display: inline-block;
    font-family: "Dosis", sans-serif;
    font-size: 35.5px;
    line-height: 1.6;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.28);
    vertical-align: middle;
    position: relative; }

#carousel-two .owl-stage .owl-item .car-two__item:before {
  content: "";
  width: 147px;
  height: 1px;
  left: -147px;
  position: absolute;
  top: 22%;
  background-color: rgba(0, 0, 0, 0.28); }

#carousel-two {
  text-align: center; }

.item-top {
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 0;
  text-align: justify; }
  .item-top:after {
    content: "";
    width: 100%;
    height: 0;
    display: inline-block;
    overflow: hidden;
    visibility: hidden; }

.car-two__point {
  width: 8px;
  height: 8px;
  display: inline-block;
  visibility: hidden;
  border-radius: 50%;
  background-color: #575a59;
  vertical-align: middle; }

.car-two__text {
  visibility: hidden;
  width: 210px;
  height: 4.8em;
  overflow-y: hidden;
  margin: 0 auto;
  text-align: center;
  color: #5a5a58;
  line-height: 1.6; }

/*-------------------end of history-------------- */
/*-------------------contact-------------- */
.contacts {
  padding-bottom: 289px;
  background: #fff url(../img/bg-contacts.jpg) center bottom no-repeat;
  background-size: 100% auto; }
  .contacts:before, .contacts:after {
    content: "";
    display: table; }
  .contacts:after {
    clear: both; }
  .contacts h1 {
    margin-bottom: 20px;
    text-align: left;
    color: #454545;
    position: relative; }
    .contacts h1.strikethrough:after {
      position: absolute;
      left: 5px;
      width: 250%; }
  .contacts .sect-descr {
    margin-bottom: 79px;
    text-align: left; }
  .contacts form {
    width: 502px;
    float: left; }
  .contacts .social-icons {
    width: 100px;
    float: right; }

.form-container label {
  display: block; }
.form-container input {
  display: block;
  width: 70%;
  padding: 10px 0;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #000; }
.form-container textarea {
  width: 70%;
  border: none;
  border-bottom: 1px solid #000; }

.form-send {
  margin-top: 21px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  background-color: transparent; }

/*-------------------end of contact-------------- */
.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
