.catalog-content
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить
	.slider-actions__item
		span.slider-actions__new новинка
		img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
		h3.slider-actions__product-name MP46FDA
		p.slider-actions__product-description
			| Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
		a.product-link(href="prod-card.html")
		a.buy-button(href="prod-card.html") Купить