.help-content
	.help-content__item
		.help-content__icon.Oursson_03
		h1.help-content__title Вопросы и ответы
		p.help-content__text.
			Наша продукция должна быть красивой! Нас вдохновляет современный европейский дизайн «красота простых линий». Формы и цвета соответствуют по бесплатному номеру, чтобы получить консультацию по продукции
	.help-content__item
		.help-content__icon.Oursson_07
		h1.help-content__title Сервисные центры
		p.help-content__text.
			Наша продукция должна быть красивой! Нас вдохновляет современный европейский дизайн «красота простых линий». Формы и цвета соответствуют по бесплатному номеру, чтобы получить консультацию по продукции.
	.help-content__item
		.help-content__icon.Oursson_11
		h1.help-content__title Гарантийные обязательства
		p.help-content__text.
			Наша продукция должна быть красивой! Нас вдохновляет современный европейский дизайн «красота простых линий». Формы и цвета соответствуют по бесплатному номеру, чтобы получить консультацию по продукции.
	.help-content__item
		.help-content__icon.Oursson_15
		h1.help-content__title Загрузки
		p.help-content__text.
			Наша продукция должна быть красивой! Нас вдохновляет современный европейский дизайн «красота простых линий». Формы и цве
	.help-content__item
		.help-content__icon.Oursson_18
		h1.help-content__title Видео
		p.help-content__text.
			Наша продукция должна быть красивой! Нас вдохновляет современный европейский дизайн «красота простых линий». Формы и цвета соответствуют по бесплатному номеру, чтобы получить консультацию по продукции.

		