.advantages
  .wrapper
    h1.advantages__tittle Преимущества
    .advantages__left-bar
      .advantages__bar-inner
        header.inner-tittle Гарантия качества
        p.inner-body
          | Новый ручной блендер для хозяек, знающих цену каждой минуте. Его не только приятно держать в руках, несложно мыть и жалко убирать на место.
      .advantages__bar-inner
        header.inner-tittle Доставка по всей Беларусии
        p.inner-body
          | Новый ручной блендер для хозяек, знающих цену каждой минуте. Его не только приятно держать в руках, несложно мыть и жалко убирать на место.
      .advantages__bar-inner
        header.inner-tittle Надёжный сервис
        p.inner-body
          | Новый ручной блендер для хозяек, знающих цену каждой минуте. Его не только приятно держать в руках, несложно мыть и жалко убирать на место.
    .advantages__right-bar
      .advantages__bar-inner
        header.inner-tittle Честные цены
        p.inner-body
          | Новый ручной блендер для хозяек, знающих цену каждой минуте. Его не только приятно держать в руках, несложно мыть и жалко убирать на место.
      .advantages__bar-inner
        header.inner-tittle Кредит «не выходя из дома»
        p.inner-body
          | Новый ручной блендер для хозяек, знающих цену каждой минуте. Его не только приятно держать в руках, несложно мыть и жалко убирать на место.
      .advantages__bar-inner
        header.inner-tittle Выгодные покупки
        p.inner-body
          | Новый ручной блендер для хозяек, знающих цену каждой минуте. Его не только приятно держать в руках, несложно мыть и жалко убирать на место.
// advantages
