footer.footer
  .nav__red-line
  .wrapper
    ul.footer-menu
      li.footer-item
        a.footer-link(href='#') О магазине
      li.footer-item
        a.footer-link(href='#') Оплата
      li.footer-item
        a.footer-link(href='#') Доставка 
      li.footer-item
        a.footer-link(href='#') Поддержка
      li.footer-item
        a.footer-link(href='#') Новости
      li.footer-item
        a.footer-link(href='#') Контакты
    .header__second-line
      img.analitics(src='img/analitics.jpg', alt='analitics')
      p.schedule.schedule--footer
        | Время работы Пн - ПТ
        br
        | 				с 8-00 до 20-00
      p.days.days--footer
        | В выходные дни
        br
        | 				с  9-00 до 17-00
      p.telephones.telephones--footer
        | 8 (495) 510 27 27
        br
        | 				8 (800) 100 05 56
