.right-sidebar
  .right-sidebar__banner
    img.right-sidebar__banner-item(src='img/EvoFdAnAnOo.jpg', alt='banner1', width='199', height='199')
  .right-sidebar__banner
    img.right-sidebar__banner-item(src='img/banner_2.jpg', alt='banner2', width='199', height='199')
  .right-sidebar__banner
    img.right-sidebar__banner-item(src='img/200.jpg', alt='banner3', width='199', height='199')
