.slider-actions
  .wrapper.wrapper--slider
    h1.slider-actions__tittle Акции
    .slider-actions__container
      .slider-actions__wrapper
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
        .slider-actions__item
          span.slider-actions__new новинка
          img.slider-actions__product-picture(src='img/product_picture.jpg', alt='product')
          h3.slider-actions__product-name MP46FDA
          p.slider-actions__product-description
            | Краткоре описание техники... Краткоре описание техники... Краткоре описание техники...
    .left-handler
    .right-handler
    hr.content-line
// slider
