/*colors */
/*tittles */
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto; }

.form-button {
  width: 156px;
  height: 46px;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 10px;
  border: none; }
  .form-button:hover, .form-button:active {
    background-color: #3b9ce0; }

.form-input {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 14px;
  width: 100%;
  border-radius: 10px;
  border: none; }

section {
  padding-top: 50px;
  padding-bottom: 20px; }
  section h1 {
    width: 457px;
    margin: 0 auto;
    margin-bottom: 57px;
    padding: 12px 0;
    text-align: center;
    font: 30px Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #3b9ce0; }
    section h1.inverse {
      width: auto;
      margin: 0 5%;
      margin-bottom: 57px;
      background-color: transparent; }

.button-small, .button-small--blue {
  width: 129px;
  padding: 8px 10px;
  display: inline-block;
  background-color: #ffce00;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  color: #000;
  text-align: center; }
  .button-small:hover, .button-small--blue:hover, .button-small:active, .button-small--blue:active {
    text-decoration: none;
    background-color: #3b9ce0;
    color: #000; }

.button-small--blue {
  background-color: #3b9ce0; }
  .button-small--blue:hover, .button-small--blue:active {
    text-decoration: none;
    background-color: #ffce00;
    color: #000; }

/*------------------------header----------------------- */
header {
  padding-top: 20px;
  padding-bottom: 124px;
  background: #fff url(../img/bg-header.jpg) 0 0 no-repeat;
  background-size: cover; }

.header-top::after {
  clear: both;
  content: "";
  display: table; }

.logo-cont {
  width: 20.7%;
  text-align: center;
  float: left; }

.header-logo, .logo-text {
  display: inline-block; }

.header-logo {
  margin-bottom: 5px; }

.logo-text {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px; }

nav {
  width: 58%;
  float: left; }

.menu {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffce00;
  font-size: 0;
  border-radius: 20px;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75); }

.menu-item {
  display: inline-block;
  list-style-type: none;
  font-weight: bold; }

.menu-link {
  display: block;
  padding: 14px 15px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none; }
  .menu-link:hover, .menu-link:active {
    background-color: #3b9ce0;
    color: #fff;
    text-decoration: none; }

.callback {
  float: right;
  margin-right: 24px; }

.callback-link {
  display: block;
  padding: 14px 15px;
  font-size: 13px;
  background-color: #ffce00;
  border-radius: 20px;
  color: #000;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75); }
  .callback-link:hover, .callback-link:active {
    text-decoration: none; }

.header-form {
  position: relative;
  margin-bottom: 15px;
  z-index: 1; }
  .header-form::after {
    clear: both;
    content: "";
    display: table; }

.form-container {
  width: 300px;
  float: right;
  padding: 29px 25px 23px 25px;
  background-color: #ffce00;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 20px; }

.form-name {
  display: inline-block;
  color: #000;
  font-size: 24px; }

.form-title-center {
  text-align: center;
  margin-bottom: 152px; }

.input-slogan-container {
  width: 96%;
  min-height: 133px;
  padding: 18px 18px 10px 18px;
  position: absolute;
  top: 152px;
  right: 0;
  background-color: #ffce00;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 20px;
  background-image: url(../img/stripes.png);
  background-repeat: repeat; }

.header-slogans {
  position: relative;
  margin-right: 275px;
  text-shadow: 0px 2px 2px #969696; }

.header-slogan, .header-discount {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

.header-discount {
  color: #fa0109; }

.header-form-inputs {
  position: absolute;
  width: 275px;
  top: 18px;
  right: 25px;
  padding-left: 25px;
  text-align: center; }

.mobile-menu-toggle {
  display: none;
  color: #ffce00; }

.fa {
  font-size: 50px; }

.features {
  background-color: #3b9ce0; }

.features-item {
  padding: 23px 0;
  min-height: 50px;
  text-align: center; }

.item-icon, .item-descr {
  display: inline-block; }

.item-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  vertical-align: top; }

.item-icon-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.item-descr {
  width: 70%;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  color: #fff;
  font-weight: bold; }

/*-------------------------end of header-------- */
/*-------------------------about us-------- */
.about-us__item {
  margin-bottom: 50px;
  text-align: center; }

.about-us__item-icon, .about-us__item-text {
  display: inline-block;
  vertical-align: top; }

.about-us__item-text {
  width: 60%;
  text-align: left; }

.about-us__item-icon {
  width: 59px;
  height: 51px;
  margin-right: 3px;
  background: url(../img/icons/spritesheet.png) -68px -142px no-repeat; }

.about-us .col-sm-6:nth-child(2) .about-us__item-icon {
  width: 59px;
  height: 58px;
  background-position: -150px -5px; }

.about-us .col-sm-6:nth-child(3) .about-us__item-icon {
  width: 53px;
  height: 59px;
  background-position: -5px -142px; }

.about-us .col-sm-6:nth-child(4) .about-us__item-icon {
  width: 68px;
  height: 73px;
  background-position: -5px -5px; }

.about-us .col-sm-6:nth-child(5) .about-us__item-icon {
  width: 57px;
  height: 59px;
  background-position: -83px -5px; }

.about-us .col-sm-6:nth-child(6) .about-us__item-icon {
  width: 45px;
  height: 59px;
  background-position: -150px -73px; }

.about-us__item-title, .about-us__item-descrp {
  margin: 0;
  padding: 0; }

.about-us__item-descrp {
  color: #5f5f5f; }

.economy {
  width: 752px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #3b9ce0;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
  color: #fff; }

.economy__block {
  width: 212px;
  margin-left: 101px;
  margin-right: 55px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .economy__block:before {
    content: "";
    width: 51px;
    height: 55px;
    position: absolute;
    left: -62px;
    top: 50%;
    margin-top: -27px;
    background: url(../img/icons/economy-ico.png) 0 0 no-repeat; }
  .economy__block:after {
    content: "";
    width: 84px;
    height: 38px;
    position: absolute;
    bottom: 9px;
    right: -48px;
    margin-top: -27px;
    background: url(../img/icons/pen-arrow-ico.png) 0 0 no-repeat; }

.economy__title, .economy__text {
  margin: 0;
  padding: 0; }

.economy__order {
  width: 203px;
  padding: 7px 0;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  line-height: 1; }
  .economy__order:hover, .economy__order:active {
    text-decoration: none;
    background-color: #ffce00;
    color: #fff; }
  .economy__order:hover .order-small span, .economy__order:active .order-small span {
    color: #000; }

.order-small {
  font-size: 15px;
  font-weight: bold; }
  .order-small span {
    color: #ffce00; }

.economy__pict {
  position: absolute;
  width: 160px;
  top: -10px;
  right: -15px; }

.profile {
  background: url(../img/bg-section-1.jpg) center top no-repeat;
  background-size: cover; }

.profile__item {
  width: 310px;
  min-height: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 39px 15px 28px 15px;
  background-color: #fff;
  text-align: center; }
  .profile__item::after {
    clear: both;
    content: "";
    display: table; }
  .profile__item .button-small, .profile__item .button-small--blue {
    float: left; }
  .profile__item .button-small--blue {
    float: right; }

.profile__item-top::after {
  clear: both;
  content: "";
  display: table; }

.profile__img {
  width: 40%;
  max-width: 137px;
  float: left;
  text-align: center; }
  .profile__img img {
    display: inline-block; }

.profile__logo {
  float: right;
  max-width: 50%;
  text-align: center; }
  .profile__logo img {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle; }

.profile__name {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase; }
  .profile__name span {
    text-transform: none; }

/*------------------------ready-decisions------------ */
.wrapper--desigions {
  padding: 0 10%;
  text-align: center; }

.ready-decisions__item {
  margin: 0 30px;
  margin-bottom: 87px;
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .ready-decisions__item:last-child {
    margin-bottom: 30px; }

.ready-decisions__pict {
  display: block;
  margin-bottom: 15px; }

/*------------------------end of ready-decisions------------ */
/*------------------------lamination------------ */
/*------------------------end of lamination------------ */
.lamination {
  background: #fff url(../img/bg-section-2.jpg) center top no-repeat;
  background-size: cover; }

.wood-var-container {
  text-align: center; }

.color-vars {
  display: inline-block;
  width: 218px;
  margin: 0;
  padding: 0;
  margin-top: 50px; }

.color-var-cont {
  margin-bottom: 50px;
  list-style: none; }
  .color-var-cont::after {
    clear: both;
    content: "";
    display: table; }

.lamination__title {
  margin: 0;
  padding: 0; }

.lamination__text {
  margin-top: 0; }

.color-var-item {
  width: 50%;
  text-align: center;
  position: relative; }
  .color-var-item:nth-child(odd) {
    float: left; }
  .color-var-item:nth-child(even) {
    float: right; }

.wood-var {
  display: block;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.wood-name {
  display: inline-block;
  max-width: 100%;
  white-space: pre;
  overflow: hidden;
  padding: 0 3px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000; }

.win-slider {
  background-color: #f0f4f7; }
  .win-slider iframe {
    display: block; }

.men {
  float: right; }

.win-slider__min-video {
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 96px;
  margin-right: 14px;
  position: relative; }
  .win-slider__min-video iframe {
    position: absolute;
    width: 100%;
    height: 100%; }
  .win-slider__min-video:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1; }

.win-slider__min-video-tittle {
  width: 50%;
  display: inline-block;
  font-size: 13px;
  max-height: 96px;
  white-space: pre-line;
  vertical-align: middle;
  text-align: left;
  overflow: hidden; }

.win-slider__min-video-container {
  margin-top: 57px; }

.win-slider__min-video-item {
  display: inline-block;
  margin-bottom: 59px;
  color: #000; }
  .win-slider__min-video-item:last-child {
    margin-bottom: 0; }
  .win-slider__min-video-item:hover, .win-slider__min-video-item:active {
    text-decoration: none;
    color: red; }
  .win-slider__min-video-item:hover .win-slider__min-video:before, .win-slider__min-video-item:active .win-slider__min-video:before {
    background-color: rgba(255, 255, 255, 0); }

.win-slider_nopaddings {
  padding-left: 10px;
  padding-right: 10px; }

.tab-content {
  display: none; }

.tab-content--active {
  display: block; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.win-slider-row-rel {
  position: relative; }

.superman-container {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0; }

.supermen {
  position: absolute;
  bottom: 0;
  right: 15px; }

/*-------------------end of win-slider---- */
.projects {
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5); }

.item-cont {
  position: relative; }
  .item-cont img {
    display: block; }

.projects .owl-stage-outer:before {
  content: "";
  position: absolute;
  width: 33.3%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 100; }
.projects .owl-stage-outer:after {
  content: "";
  position: absolute;
  width: 33.3%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
  z-index: 100; }

.projects .owl-prev, .projects .owl-next {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 50%;
  margin-top: -24px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  background: #3aa8f3;
  background: -webkit-linear-gradient(top, #3aa8f3 0%, #0376c9 100%);
  background: linear-gradient(to bottom, #3aa8f3 0%, #0376c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa8f3', endColorstr='#0376c9',GradientType=0 );
  z-index: 102; }

.projects .owl-prev {
  left: 17%; }

.projects .owl-next {
  right: 17%; }

.wrapper-projects {
  text-align: center;
  font-size: 0;
  outline: 3px solid transparent;
  padding-left: 3.5%;
  padding-right: 3.5%; }

.projects__preview-item {
  width: 98px;
  display: inline-block;
  position: relative; }
  .projects__preview-item:hover span {
    outline-color: #ffce00; }
  .projects__preview-item:active span {
    outline-color: #3b9ce0; }
  .projects__preview-item img {
    display: block;
    width: 100%; }
  .projects__preview-item span {
    position: absolute;
    width: 94%;
    height: 94%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    outline: 3px solid transparent; }

.projects__preview-item--active span {
  outline: 3px solid #3b9ce0; }

.partners__cont {
  margin-top: 90px;
  text-align: center; }

.partners__logo {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
  vertical-align: middle; }
  .partners__logo:last-child {
    margin: 0; }

.testimonials {
  padding-top: 167px;
  padding-bottom: 103px;
  background: #6e4a26 url(../img/bg-testimonials.jpg) center top no-repeat;
  background-size: cover; }
  .testimonials .wrapper {
    position: relative; }
  .testimonials .fa {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    cursor: pointer;
    z-index: 100;
    color: #fff; }
    .testimonials .fa.fa-chevron-left {
      left: 0; }
    .testimonials .fa.fa-chevron-right {
      right: 0; }
  .testimonials .owl-dots {
    margin-top: 40px;
    text-align: center; }
  .testimonials .owl-dot {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-right: 30px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2); }
    .testimonials .owl-dot:last-child {
      margin-right: 0; }
    .testimonials .owl-dot.active {
      background-color: rgba(255, 255, 255, 0.6); }

.testimonials .owl-item {
  text-align: center; }

.testimonials__item {
  width: 82%;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 56px;
  padding-right: 56px;
  display: inline-block;
  background-color: #fff; }

.footer h1 {
  margin-bottom: 60px; }
.footer h2 {
  margin-top: 0;
  font-weight: normal; }

.footer__mapbox {
  margin-bottom: 40px; }

.footer__button-wrap::after {
  clear: both;
  content: "";
  display: table; }
.footer__button-wrap .button-small, .footer__button-wrap .button-small--blue {
  float: left;
  margin-top: 50px; }

.footer__img {
  float: right; }

.hidden-form {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  position: relative; }
  .hidden-form .form-container {
    float: none;
    margin: 0 auto;
    background: url(../img/stripes.png) 0 0 repeat; }
  .hidden-form .form-title-center {
    margin-bottom: 20px; }
  .hidden-form .header-form-inputs {
    position: static;
    width: 100%;
    padding-left: 0;
    right: 0; }
    .hidden-form .header-form-inputs input {
      box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75); }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */