/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.win-slider__min-video-tittle{
		width: 100%;
	}
}
@media only screen and (max-width : 1156px) {
	.form-title-center{
		margin-bottom: 182px;
		
	}
	.win-slider__min-video-item{

	margin-bottom: 30px
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.form-container{
		float: none;
		margin: 0 auto;
		
	}
	.input-slogan-container{
		width: 300px;
		right: 0;
		left: 0;
		bottom: 80px;
		margin: auto;
	}
	.header-slogans, .header-form-inputs{
		position: static;

	}
	.header-form-inputs{
		padding: 0;
	}
	.header-slogans{
		text-align: center;
		
	}
	.header-slogan{
		
		font-size: 20px;
	}
	.form-title-center{
		margin-bottom: 380px;
	}
	.win-slider-worker{
		text-align: center;
	}
	.men{
		float: none;
		display: inline-block;
	}
	.win-slider__min-video-container{
		text-align: center;
	}
	.win-slider__min-video-tittle{
		width: 125px;
	}
	.superman-container{
		display: none;
	}
	.footer__button-wrap{
		text-align: left;
	}
	.footer__img{
		float: none;
		display: inline-block;
	}

	.footer__button-wrap .button-small{
		float: none;
		margin: 15px 0;
		display: inline-block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-top{
		position: relative;
		z-index: 2;
	}
	.logo-cont{
		width: 30%;
	}
	nav{
		text-align: center;
		width: 40%;
	}
	.callback{
		margin-right: 0;
	}
	.menu{
		display: none;
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		padding: 0;
	}
	.mobile-menu-toggle{
		display: inline-block;
		margin: 0 auto;
	}
	.menu-item{
		display: block;
	}
	.item-descr{
	width: 40%;
	vertical-align: middle;
	}
	.item-icon{
		vertical-align: middle;
	}
	.economy{
		width: 95%;
		text-align: center;
	}
	.economy__block{
		margin: 0;
		margin-left: 15%;
		margin-right: 10%;
		margin-bottom: 15px;
	}
	.economy__block:after{
		display: none;
	}
	.economy__pict{
		display: none;
	}
	.wrapper--desigions{
		margin: 0;
	}
	.color-vars{
	margin-top: 50px;
	}
	.win-slider__min-video-item{
		width: 100%;
	}
	.testimonials .owl-dot{
		width: 20px;
		height: 20px;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header--wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.callback{
		display: none;
	}
	.mobile-menu-toggle{
		float: right;
	}
	nav{
		width: 70%;
	}
	.item-descr{
	width: 70%;vertical-align: middle;
	vertical-align: middle;
	}
	.item-icon{
		vertical-align: middle;
	}
	section h1{
		width: 90%;
		font-size: 20px;
		padding: 6px 0;
	}
	.economy__block{
		width: 80%;
		margin-top: 55px;
	}
	.economy__block:before{
		top: -32px;
		left: 50%;
		margin-left: -27px;
	}
	.profile__item{
		width: 100%;
	}
	.ready-decisions__item{
		margin-top: 0;
		margin-left: 0;
	}
	.owl-stage-outer:after, .owl-stage-outer:before{
		display: none;
	}
	.partners__logo{
		width: 50%;
		margin-right: 0;
	}
	.partners__logo:last-child{
		width: 40%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.partners__cont{
		white-space: pre-line;
	}
	.testimonials .fa{
		display: none;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.menu{
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}