extends template

append sharedVars
	- var selected = 'contacts';
block other-scripts
	script(src="js/map.js")
	script(src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCtchTbnpcoQ2U5jXMeXjcSq-rctB6hdxE &callback=initMap"
    async defer)

block breadcrumbs-link
	li.breadcrumbs-item
		span.breadcrumbs-link Контакты

block current-section-name
	span.current-section-name Контакты

block right-sidebar
	include jade/includes/right_sidebar

block center-content
	include jade/includes/_contacts